.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    color: white;
}

.site-layout-background {
    background: #fff;
}

.anticon {
    display: inline-block;
    font-size: 16px;
}
